
<div class="form-style-5">
<form>
<fieldset>
<legend> Search by stop code</legend>
<input type="text" name="code" placeholder="Insert stop code here" [(ngModel)]="code">    
</fieldset>
<input type="submit" value="Search with stop code" />
</form>
<form>
<br>
<fieldset>
<legend> Search by stop name</legend>
<input type='text' name="name" placeholder="Insert stop name here" [(ngModel)]="name">
</fieldset>
<button class="btn" (click)="log()">Search for stops</button>
</form>
</div>
<app-result-detail [result]="result"></app-result-detail>
